
EscuelaApp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
EscuelaApp/obj/Debug/net7.0/EscuelaApp.AssemblyInfo.cs
EscuelaApp/obj/Debug/net7.0/EscuelaApp.AssemblyInfoInputs.cache
EscuelaApp/obj/Debug/net7.0/EscuelaApp.assets.cache
EscuelaApp/obj/Debug/net7.0/EscuelaApp.csproj.AssemblyReference.cache
EscuelaApp/obj/Debug/net7.0/EscuelaApp.GeneratedMSBuildEditorConfig.editorconfig
EscuelaApp/obj/Debug/net7.0/EscuelaApp.GlobalUsings.g.cs
Actividad8/bin/Debug/net7.0/Actividad8.dll
Actividad8/bin/Debug/net7.0/Actividad8.dll
Actividad8/bin/Debug/net7.0/Actividad8.pdb
Actividad8/obj/Debug/net7.0/Actividad8.dll
Actividad8/obj/Debug/net7.0/Actividad8.pdb
Actividad8/obj/Debug/net7.0/ref/Actividad8.dll
Actividad8/obj/Debug/net7.0/refint/Actividad8.dll
Actividad9/obj/Actividad9.csproj.nuget.dgspec.json
Actividad9/obj/Actividad9.csproj.nuget.g.props
Actividad9/obj/project.assets.json
Actividad9/obj/project.nuget.cache
Actividad9/obj/Debug/net7.0/Actividad9.assets.cache
Actividad9/obj/Debug/net7.0/Actividad9.csproj.FileListAbsolute.txt
Actividad9/obj/Debug/net7.0/Actividad9.GeneratedMSBuildEditorConfig.editorconfig
