
EscuelaApp/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
EscuelaApp/obj/Debug/net7.0/EscuelaApp.AssemblyInfo.cs
EscuelaApp/obj/Debug/net7.0/EscuelaApp.AssemblyInfoInputs.cache
EscuelaApp/obj/Debug/net7.0/EscuelaApp.assets.cache
EscuelaApp/obj/Debug/net7.0/EscuelaApp.csproj.AssemblyReference.cache
EscuelaApp/obj/Debug/net7.0/EscuelaApp.GeneratedMSBuildEditorConfig.editorconfig
EscuelaApp/obj/Debug/net7.0/EscuelaApp.GlobalUsings.g.cs
